## Week 1

In [1]:
from IPython.display import * 
display(HTML("<style>.container { width:100% !important; }</style>"))

## String operations

In [2]:
## lower / upper / capitalize / title

string1 = 'Srihari sheKhar is a graduate Student.'
print(string1.lower())
print(string1.upper())
print(string1.capitalize())
print(string1.title())

srihari shekhar is a graduate student.
SRIHARI SHEKHAR IS A GRADUATE STUDENT.
Srihari shekhar is a graduate student.
Srihari Shekhar Is A Graduate Student.

In [5]:
import string
# split() / strip()

string2 = 'Srihari wants eat, play and watch the office.'
## split returns a list.
print(string2.split(','))
print(string1.split('K'))

string3 = '...123srihari..what..,/12 '
print(string3.strip(string.punctuation+string.digits+' '))

['Srihari wants eat', ' play and watch the office.']
['Srihari she', 'har is a graduate Student.']
srihari..what

In [6]:
print(string.ascii_lowercase)
print(string.digits)
print(string.punctuation)

abcdefghijklmnopqrstuvwxyz
0123456789
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

## List

In [20]:
# create and append
marks = []
for i in range(90, 101, 2):
    marks.append(i)
print(marks)

# insert
marks.insert(3, 95)
print(marks)

# pop
marks.pop()
print(marks)

# delete
del marks[2]
print(marks)

[90, 92, 94, 96, 98, 100]
[90, 92, 94, 95, 96, 98, 100]
[90, 92, 94, 95, 96, 98]
[90, 92, 95, 96, 98]

In [24]:
# indexing
print(marks[2])

# slicing
print(marks[:])

95
[90, 92, 95, 96, 98]

In [35]:
#sorted - doesn't reflect in memory
print(sorted(marks, reverse=True))
print(marks)
print()
# sort
marks.sort(reverse=True) ##reflects in memory
print(marks)

[98, 96, 95, 92, 90]
[98, 96, 95, 92, 90]

[98, 96, 95, 92, 90]

In [37]:
# len
print(len(marks))

5

## if else

In [45]:
name = input("Enter your name: ")
try:
    if name[0] == name[0].lower():
        print('name entered starts with lowercase')
    else:
        print('name entered starts with uppercase')
except:
    print('wrong input')

Enter your name: 1
name entered starts with lowercase

## loops

In [51]:
# range(start, end, step)
list1 = []
for i in range(10):
    list1.append(i)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
list1 = list(range(10))
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
# while - entry controlled loop

x = 0
a = 1
while(x<10):
    a += x
    x += 1
print(a)

46

In [54]:
# for loop

fruits = ['Strawberry', 'apple', 'Orange', 'Watermelon']
for fruit in fruits:
    if fruit[0].lower() in ['a', 'e', 'i', 'o', 'u']:
        print(fruit, ' ', len(fruit))

apple   5
Orange   6

## Tuple

In [69]:
# create
t1 = (0, 1, 5)
print(t1[2])

list1 = [5, 55]
t2 = tuple(list1)
print(t2)

# Tuples are immutable so we can't insert new element but we can create a new tuple

# delete

5
(5, 55)

## set

In [80]:
s1 = {1, 1, 1, 5, 9, 1, 43, 5}
print(s1)

s1.add(10)
print(s1)

s1.discard(1) # returns none if the number is not present.
print(s1)

try:
    s1.remove(1) # throws an exception if the value is not present.
except:
    print('Value not present in the set.')

{1, 43, 5, 9}
{1, 5, 9, 10, 43}
{5, 9, 10, 43}
Value not present in the set.

In [82]:
# set from list
list1 = [5, 1, 12, 2, 4, 4, 23, 1, 2]
s1 = set(list1)
print(s1)

# list from set
list1 = list(s1)
print(type(list1))

{1, 2, 4, 5, 12, 23}
<class 'list'>

## Dictionary

In [107]:
## create
phonebook = {'Name':['Srihari', 'Satyam', 'Surbhi', 'Shubham'],
            'PhoneNumber':['6507326582', '6506918196', '9910257950', '9910910990']
            }
print(type(phonebook))
print(phonebook['Name'])
print(phonebook.keys())
print(phonebook.values())
print()

## Method 2
marks = {}
marks['srihari'] = [99, 100, 95]
marks['satyam'] = [100, 100, 100]
marks['surbhi'] = [100, 99, 100]
marks['shubham'] = [99, 99, 100]
print(marks)
print(marks.keys())
print(marks.values())
print()

## 
grades = {'srihari':[99, 95, 99],
         'satyam':[100, 100, 100],
          'surbhi':[99, 100, 100],
          'shubham':[100, 99, 100]
         }
print(grades)
print(grades.keys())
print(grades.values())

<class 'dict'>
['Srihari', 'Satyam', 'Surbhi', 'Shubham']
dict_keys(['Name', 'PhoneNumber'])
dict_values([['Srihari', 'Satyam', 'Surbhi', 'Shubham'], ['6507326582', '6506918196', '9910257950', '9910910990']])

{'srihari': [99, 100, 95], 'satyam': [100, 100, 100], 'surbhi': [100, 99, 100], 'shubham': [99, 99, 100]}
dict_keys(['srihari', 'satyam', 'surbhi', 'shubham'])
dict_values([[99, 100, 95], [100, 100, 100], [100, 99, 100], [99, 99, 100]])

{'srihari': [99, 95, 99], 'satyam': [100, 100, 100], 'surbhi': [99, 100, 100], 'shubham': [100, 99, 100]}
dict_keys(['srihari', 'satyam', 'surbhi', 'shubham'])
dict_values([[99, 95, 99], [100, 100, 100], [99, 100, 100], [100, 99, 100]])

In [108]:
# insert in dict

marks['Piku'] = [100, 100, 101]
marks['Marshal'] = [80, 80, 80]
print(marks)

{'srihari': [99, 100, 95], 'satyam': [100, 100, 100], 'surbhi': [100, 99, 100], 'shubham': [99, 99, 100], 'Piku': [100, 100, 101], 'Marshal': [80, 80, 80]}

In [109]:
# delete in dict

del marks['srihari']
print(marks)
marks.pop('Marshal')
print(marks)

{'satyam': [100, 100, 100], 'surbhi': [100, 99, 100], 'shubham': [99, 99, 100], 'Piku': [100, 100, 101], 'Marshal': [80, 80, 80]}
{'satyam': [100, 100, 100], 'surbhi': [100, 99, 100], 'shubham': [99, 99, 100], 'Piku': [100, 100, 101]}

In [113]:
# accessing 

print(marks['Piku'])

print(marks.get('Piku'))

[100, 100, 101]
[100, 100, 101]

In [114]:
# find average for each person in dict marks

In [118]:
# sort dictionary

## by key
for i in sorted(marks, reverse=True):
    print(i, ':', marks[i])
    
print()

## by value
for i in sorted(marks, key=marks.get, reverse=True):
    print(i, ':', marks[i])

surbhi : [100, 99, 100]
shubham : [99, 99, 100]
satyam : [100, 100, 100]
Piku : [100, 100, 101]

Piku : [100, 100, 101]
satyam : [100, 100, 100]
surbhi : [100, 99, 100]
shubham : [99, 99, 100]

## Functional python
    - List comprehension
    - Lambda expressions
    - Maps
    - Filter
    - Datetime module

In [128]:
# List comprehension

fruits = ['orange', 'apple', 'Watermelon', 'strawberry']
list2 = [fruit for fruit in fruits if fruit[0].lower() in ['a','e','i','o','u']]
print(list2)

['orange', 'apple']

In [ ]:
# lambda expression